#Guidelines for writing config files so ConfigReader can handle them
# (0) Comments only at beginning of line, marked with # character.
# (1) Single word lines ending with colon correspond to individual modules.
# (2) Blank lines don't matter.
# (3) Blank parameter values after the parameter name signify "use default".
# (4) Spaces in parameter values are ok; it's all added together to make
#      string (I.E. a histogram title). Don't need quotes.
# (5) Arrays should be written like: [3,1,4.4, 5.23].
#       --Spaces are OK. All elements cast a doubles.
#       --Must be surrounded by square brackets []. 

FluxScaling:
DetectorFluxFile /Users/davidkaleko/Data/LEE/total_nu_flux_ub_mb.root
DetectorGraphName uB_total_nu_flux
MBFluxFile /Users/davidkaleko/Data/LEE/total_nu_flux_ub_mb.root
MBGraphName MB_total_nu_flux


NuLeptECorrelation:
FullOscFileName /Users/davidkaleko/Data/LEE/combined_ntuple_470m_nu_fosc_CC_nu_lept_energycorrelation.root
TH2FName fosc_isCC_enugen_vs_Elep
NDrawsToAvg 1

XSecScaling:
MyInFileName /Users/davidkaleko/Data/LEE/SubAnalysis1/subana1_xsec_withkappa.root
#Including "kappa" correction factor
MyGraphName genie_ar40_tot_cc_TIMES_flatkappa
MBInFileName /Users/davidkaleko/Data/LEE/SubAnalysis1/subana1_xsec_withkappa.root
MBGraphName genie_C12_Plus_TwoH1_tot_cc
RatioCutoffMax 2
RatioCutoffMin 1


POTScaling:
MyPOT 6.6
MBPOT 6.46


TonnageScaling:
MyDetector MicroBooNE


LEEMain:
LEEHistName LEE_sbndoc_hist
LEEHistTitle #muB Sim e^{-}-Like Low Energy Excess: 6.6POT, CC Incl XSec, Tot #nu Flux, Smear, 17cmFidVol;True Lepton Energy (Smeared) [GeV];Events
LEEHistBins [.1,.2,.35,.5,.65,.8,.95,1.1,1.3,1.5,1.75,2.0,3.0]
ElectronOrGamma Electron
EnergyDefinition TrueLepE
DataFile /Users/davidkaleko/Data/LEE/single_electrons_allfiles_17cmFidVolfiltered_UBSensDataFormat.root
NEventsGenerated 50000
NTrueMBExcessEvts 1212.114
UseSmearing True
OptionalWeight 1.


FinalPlotter:
BackgroundStackFile /Users/davidkaleko/Data/LEE/corey_latest_enu_background_120714.root
BackgroundStackName StackedBackgrounds
BackgroundStackLegendName legend
FinalStackBins [.2,.35,.5,.65,.8,.95,1.1,1.3,1.5,1.75,2.0,3.0]
FinalStackTitle WRONG BACKGROUNDS
UseEvtsPerBinWidth False

PlotWriter:
OutFileName /Users/davidkaleko/UBSensitivity/core/LEE/mac/sbndoc_17cmfidvol_elep_smear.root