#Guidelines for writing config files so ConfigReader can handle them
# (0) Comments only at beginning of line, marked with # character.
# (1) Single word lines ending with colon correspond to individual modules.
# (2) Blank lines don't matter.
# (3) Blank parameter values after the parameter name signify "use default".
# (4) Spaces in parameter values are ok; it's all added together to make
#      string (I.E. a histogram title). Don't need quotes.
# (5) Arrays should be written like: [3,1,4.4, 5.23].
#       --Spaces are OK. All elements cast a doubles.
#       --Must be surrounded by square brackets []. 

FluxScaling:
DetectorFluxFile /Users/davidkaleko/Data/LEE/total_nu_flux_ub_mb.root
DetectorGraphName uB_total_nu_flux
MBFluxFile /Users/davidkaleko/Data/LEE/total_nu_flux_ub_mb.root
MBGraphName MB_total_nu_flux


NuLeptECorrelation:
FullOscFileName /Users/davidkaleko/Data/LEE/combined_ntuple_470m_nu_fosc_CC_nu_lept_energycorrelation.root
TH2FName fosc_isCC_enugen_vs_Elep


XSecScaling:
MyInFileName /Users/davidkaleko/Data/LEE/genie_default_graphs.root
MyGraphName genie_ar40_tot_cc
MBInFileName /Users/davidkaleko/Data/LEE/genie_default_graphs.root
MBGraphName genie_C12_Plus_TwoH1_tot_cc
RatioCutoffMax 2
RatioCutoffMin 1


POTScaling:
MyPOT
MBPOT 


TonnageScaling:
MyDetector MicroBooNE


LEEMain:
LEEHistName LEE_hist_name
LEEHistTitle #muB Sim e^{-}-Like Low Energy Excess: 6.6E20 POT, CC Incl XSec Scaling, Tot #nu Flux;True Lepton Energy [GeV];Events
LEEHistBins [.2,.4,.6,.8,1.,1.2,1.4,1.6,1.8,2.0,2.2,2.4,2.6,2.8]
ElectronOrGamma Electron
EnergyDefinition TrueLepE
DataFile /Users/davidkaleko/Data/LEE/single_electrons_allfiles_FidVolfiltered_UBSensDataFormat.root
NEventsGenerated 50000
NTrueMBExcessEvts 1212.114


FinalPlotter:
BackgroundStackFile /Users/davidkaleko/Data/LEE/SingleElectronBackgrounds_101614.root
BackgroundStackName NueBackgroundsLepE
BackgroundStackLegendName ElectronBackgroundLegend
FinalStackBins [.2,.4,.6,.8,1.,1.2,1.4,1.6,1.8,2.0,2.2,2.4,2.6,2.8]
FinalStackTitle #muB Sim e^{-}-Like Low Energy Excess: 6.6E20 POT, CC Incl XSec Scaling, Tot #nu Flux;True Lepton Energy [GeV];Events

PlotWriter:
OutFileName /Users/davidkaleko/UBSensitivity/core/LEE/mac/technote_subanalysis1_out.root