#Guidelines for writing config files so ConfigReader can handle them
# (0) Comments only at beginning of line, marked with # character.
# (1) Single word lines ending with colon correspond to individual modules.
# (2) Blank lines don't matter.
# (3) Blank parameter values after the parameter name signify "use default".
# (4) Spaces in parameter values are ok; it's all added together to make
#      string (I.E. a histogram title). Don't need quotes.
# (5) Arrays should be written like: [3,1,4.4, 5.23].
#       --Spaces are OK. All elements cast a doubles.
#       --Must be surrounded by square brackets []. 

FluxScaling:
DetectorFluxFile /Users/davidkaleko/Data/LEE/SubAnalysis1/total_nu_flux_ub_mb.root
DetectorGraphName uB_total_nu_flux
MBFluxFile /Users/davidkaleko/Data/LEE/SubAnalysis1/total_nu_flux_ub_mb.root
MBGraphName MB_total_nu_flux


NuLeptECorrelation:
FullOscFileName /Users/davidkaleko/Data/LEE/SubAnalysis1/combined_ntuple_470m_nu_fosc_CC_nu_lept_energycorrelation.root
TH2FName fosc_isCC_enugen_vs_Elep
NDrawsToAvg 1

XSecScaling:
MyInFileName /Users/davidkaleko/Data/LEE/SubAnalysis1/subana1_xsec_withkappa.root
#Including "kappa" correction factor
MyGraphName genie_ar40_tot_cc_TIMES_flatkappa
MBInFileName /Users/davidkaleko/Data/LEE/SubAnalysis1/subana1_xsec_withkappa.root
MBGraphName genie_C12_Plus_TwoH1_tot_cc
RatioCutoffMax 2
RatioCutoffMin 1


POTScaling:
MyPOT 6.6
MBPOT 6.46


TonnageScaling:
MyDetector MicroBooNE


LEEMain:
LEEHistName LEE_hist
LEEHistTitle #muB Sim e^{-}-Like Low Energy Excess: 6.6POT, CC Incl XSec, Tot #nu Flux, NOSmear, 17cmFidVol;CCQE Energy (Smeared) [GeV];Events
LEEHistBins [0.2, .48, .76, 1.04, 1.32, 1.6, 1.88, 2.16, 2.44, 2.72, 3.0]
ElectronOrGamma Electron
EnergyDefinition ECCQE
DataFile /Users/davidkaleko/Data/LEE/SubAnalysis1/single_electrons_allfiles_17cmFidVolfiltered_UBSensDataFormat.root
NEventsGenerated 50000
NTrueMBExcessEvts 1212.114
UseSmearing False
OptionalWeight 1.


FinalPlotter:
BackgroundStackFile /Users/davidkaleko/Data/LEE/misc/hand_copied_july_corey_ccqe_backgrounds.root
BackgroundStackName hand_copied_july_corey_ccqe_background_stack
BackgroundStackLegendName blank_legend
FinalStackBins [0.2, .48, .76, 1.04, 1.32, 1.6, 1.88, 2.16, 2.44, 2.72, 3.0]
FinalStackTitle Updated LEE Signal + Hand-Copied Backgrounds for CrossCheck;CCQE Energy (GEV);Events
UseEvtsPerBinWidth False

PlotWriter:
OutFileName /Users/davidkaleko/UBSensitivity/core/LEE/mac/test_reproduce_july_collabtalk_plots.root