#Guidelines for writing config files so ConfigReader can handle them
# (0) Comments only at beginning of line, marked with # character.
# (1) Single word lines ending with colon correspond to individual modules.
# (2) Blank lines don't matter.
# (3) Blank parameter values after the parameter name signify "use default".
# (4) Spaces in parameter values are ok; it's all added together to make
#      string (I.E. a histogram title). Don't need quotes.
# (5) Arrays should be written like: [3,1,4.4, 5.23].
#       --Spaces are OK. All elements cast a doubles.
#       --Must be surrounded by square brackets []. 

FluxScaling:
#This file contains a TGraph of total MicroBooNE nu flux vs nu energy
#Any unit is OK, so long as the MiniBooNE counterpart is the same units
DetectorFluxFile /Users/davidkaleko/Data/LEE/total_nu_flux_ub_mb.root
#This is the name of the TGraph within DetectorFluxFile
DetectorGraphName uB_total_nu_flux
#Same but for MiniBooNE
MBFluxFile /Users/davidkaleko/Data/LEE/total_nu_flux_ub_mb.root
MBGraphName MB_total_nu_flux


NuLeptECorrelation:
#This file contains a TH2F of true nu Energy vs. true lept energy
FullOscFileName /Users/davidkaleko/Data/LEE/combined_ntuple_470m_nu_fosc_CC_nu_lept_energycorrelation.root
#This is the name of the TH2F within FullOscFileName
TH2FName fosc_isCC_enugen_vs_Elep


XSecScaling:
#This file contains a TGraph of the MiniBooNE cross section for scaling
#Any unit is OK, so long as the MiniBooNE counterpart is the same units
MyInFileName /Users/davidkaleko/Data/LEE/tot_cc_genie_nuance_graphs.root
#This is the name of the TGraph within MyInFileName
MyGraphName genie_total_cc_graph
#Same but for MiniBooNE
MBInFileName /Users/davidkaleko/Data/LEE/tot_cc_genie_nuance_graphs.root
MBGraphName nuance_total_cc_graph
#Hard-coded cutoff for cross-section ratio. It can blow up when the denominator
#gets close to zero, so it's possible to hard-code cutoff maximum and minimums
#(default max is an enormous number, default min is 0)
RatioCutoffMax 1.575
RatioCutoffMin 0

#Leaving blank means use defaults: 6.6 for uB, 6.46 for MB
POTScaling:
MyPOT
MBPOT 

#MyDetector must be "MicroBooNE" or "LAr1"
#MB ton and density are always used
TonnageScaling:
MyDetector MicroBooNE


#Main event loop function
LEEMain:
#Desired name for output LEE histogram
LEEHistName LEE_hist_name
#Title for output LEE histogram
LEEHistTitle Low Energy Excess In MicroBooNE
#Binning for output LEE histogram
LEEHistBins [.0,.1,.2,.3,.4,.5,.6,.7,.8,.9,1.,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,2.0,2.1,2.2,2.3,2.4,2.5,2.6,2.7,2.8,2.9]
#Whether you are analyzing single e's ("Electron") or g's ("Gamma")
ElectronOrGamma Electron
#Energy definition for output histogram
#"TrueLepE"=true lepton energy
#"RecoLepE"=reconstructed lepton energy
#"CCQE"=ccqe energy
EnergyDefinition TrueLepE
#The data file containing ubsens::EventRecords
#This data file is made by either
# (1) Running LArLight UBSensInterface code on LArLight output
#     (LArLight output must contain MCShower info), or
# (2) Running some code (which you have to write) that takes LArSoft
#     output and fills EventRecord objects and stores them
DataFile /Users/davidkaleko/UBSensitivity/single_electrons_allfiles_FidVolfiltered_UBSensDataFormat.root
#Number of events generated (BEFORE event selection loop)
NEventsGenerated 50000
#Number of true MB excess events (after dividing by efficiency)
#(usually this is the integral of the 2-D histogram used to 
#generate the MC, divided by 1000 since that 2-D distrubution has
#1000x the number of true events
NTrueMBExcessEvts 1212.114

#Plotter function that takes histograms, adds them to background stacks, etc
FinalPlotter:
#File containing a THStack + TLegend of all backgrounds for stacked output
#Note: background stack has to have bins that are smaller or equal to
#"LEEHistBins". It will get auto-rebinned to match LEEHistBins and will complain
#if the bin boundaries don't match up.
BackgroundStackFile /Users/davidkaleko/Data/LEE/SingleElectronBackgrounds_101614.root
BackgroundStackName NueBackgroundsLepE
#Name of legend inside of the BackgroundStackFile
BackgroundStackLegendName ElectronBackgroundLegend
#Binning for final background+LEE stacked histogramsx
FinalStackBins [.2,.4,.6,.8,1.,1.2,1.4,1.6,1.8,2.0,2.2,2.4,2.6,2.8]
FinalStackTitle MicroBooNE Simulated e^{-}-Like Low Energy Excess: 6.6E20 POT, CC Inclusive XSec Scaling, Total Beam Flux;True Lepton Energy [GeV];Events




PlotWriter:
#This is the single output file containing all graphs, logs, etc.
OutFileName /Users/davidkaleko/UBSensitivity/core/LEE/mac/my_plotwriter_out.root

